html{
	/*font-size: 3vw;*/
	margin-top: .5em;
	margin-left: .5em;
}

h1{
	font-size: 2.3em;
	font-family: arial, sans-serif;
	margin-top: 0;
	/*margin-left: 10px;*/
}

h2{
	font-size: 1.2em;
	font-family: arial, sans-serif;
	margin-bottom: 0;

	/*margin-left: 10px;*/
}

p{
	font-size: .5em;
	margin-top: 0;
	margin-bottom: 1em;
	/*margin-left: 10px;*/
}

/*.rectRow {
	position: absolute;
	height: 20vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: red solid 2px;
}*/

.rect {
	position: absolute;
	width: 20vw;
	height: 1vw;
	top: 50%;
	left: 50%;
	background-color: #000000;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

#rect1 {
	top: 40%;
}

#rect2 {
	
}

#rect3 {
	top: 60%;
}


@media(max-width: 800px){ 
	
	html{
		font-size: 20px;
	}

	h1{
		
		width: 100%;
	}

}
